<div class="movie-show-info">
    <%= image_tag @movie[:image], class: "image" %>
    <h1><%= @movie[:title] %></h1>
    <h6><%= @movie[:year] %> | <%= @movie[:runtime] %> | <%= @movie[:genres] %></h6>
    <p class="director"><%= "Director".pluralize(@movie[:director].split(",").length)%>: <%= @movie[:director] %></p>
    Average rate: <%= @movie.reviews.average(:rate) %>
    <p class="storyline">Storyline:</p>
    <p class="plot"><%= @movie[:plot] %></p>

    <% if @current_user.present? %>
        <p class="link-review" ><%= link_to "+ Review this title", new_movie_review_path(@movie.id) %></p>
    <% else %>
        <p class="link-review" ><%= link_to "+ Review this title", login_path %></p>
    <% end %>
</div>


<% @movie.reviews.order(created_at: :desc).each do |review| %>
    <div class="movie-show-review">
        <span class="user-date"><%= review.user[:name] %> | <%= review[:created_at].strftime '%a, %B %d, %Y - %l:%M %p'  %></span>
        <div class="stars">
            <% review[:rate].times do %>
                <spam class="rate">&#9733;</spam>
            <% end %>
            <% (5-review[:rate]).times do %>
                <spam class="rate">&#9734;</spam>
            <% end %>
        </div>
      <p class="title"><%= review.title.upcase %></p>
        <p class="comment"><%= review[:review] %></p>
        <% if @current_user.present? && (@current_user.id == review.user_id) %>
            <%= link_to "Edit Review", edit_movie_review_path(@movie, review), class: "edit" %>
            <%= link_to "Delete Review", movie_review_path(@movie, review), :method => 'delete', :data => {:confirm => 'Are you sure?'}, class: "delete" %>
        <% end %>
    </div>
<% end %>
