<h1><%= @movie["title"] %></h1>
<p><%= @movie["year"] %> | <%= @movie["runtimeStr"] %> | <%= @movie["genres"] %></p>

<p>Director: <%= @movie["directors"] %></p>

<p>Storyline:</p>
<p><%= @movie["plot"] %></p>

<%= image_tag @movie[:image], :class => "thumb" %>

<p><%= link_to "+ Review", new_movie_review_path(@movie.id) %></p>

<% @movie.reviews.each do |review| %>
    <p><%= review[:rate] %></p>
    <p><%= review[:review] %></p>
    <p><%= link_to "Edit", edit_movie_review_path(@movie.id, review.id) %></p>
    <p><%= link_to "Delete", edit_movie_review_path(@movie.id, review.id), :method => 'delete', :data => {:confirm => 'Are you sure?'} %></p>
    ------
<% end %>