<div class="home">
  <div class="search">
    <%= form_tag(movies_path, method: "get", :class => "form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search for a movie...", class: "field" %>
      <%= image_submit_tag("search.png", class: "submit") %>
    <% end %>
  </div>

  <% if @current_user.present? %>
  <h4>RECOMMENDED FOR YOU, <%= @current_user.name %>:</h4>
  <div class="display">
    <% @current_user.recommend_movies.first(5).each do |key, value| %>
      <%= link_to image_tag(key.image, :class => 'image'), movie_path(key.imdbid) %>
    <% end %>
  </div>
  <% end %>

  <h4>BEST RATED MOVIES:</h4>
  <div class="display">
    <% @best_rated_movies.each do |key, value| %>
      <%= link_to image_tag(key.image, :class => 'image'), movie_path(key.imdbid) %>
    <% end %>
  </div>

  <h4>RECENTLY ADDED:</h4>
  <div class="display">
    <% @movies.each do |movie| %>
            <%= link_to image_tag(movie[:image], :class => 'image'), movie_path(movie[:imdbid]) %>
    <% end %>
  </div>
</div>